/* Override this file to customise the theme's CSS for your site */
.page__logo-inner:after {
    content: "]~$";
    color: var(--bg);
}

.main-nav ul {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0.25rem 0;
}