<style>
    .emphasized { font-style: italic; }
</style>
<div class="a2_index" _="on load hide me with display">
    <p>Wow, What a video, eh? 1984 was a crazy time.</p>
    <p>
        I was about 3 years old when the family purchased their first Apple II through the local
        school district in 1985 for my youngest uncle.
        It was an Apple IIc, A2S4000 but with the nicer Alps switches, complete with the AppleColor Composite
        Monitor!<br>
        I was only allowed to use it a little bit, and my memory of it mostly contains games of Oregon Trail.
    </p>
    <p>
        In January of 2022, my grandfather gifted me that old computer, which had been in boxes for most of its ~40 year
        life. <br>
        I have since fallen in love with it, and have even grown my little Apple II family to include a Apple IIe
        Platinum and a ROM 3 Apple IIgs,
        as well as another Apple IIc, A2S4100 with a RomXc installed for quick booting into games of Choplifter. 🚁
    </p>
    <p>
        This section of my webpage is dedicated to all things Apple II.
    </p>
    <p>As they sang so gloriously in the video,
</div>
<p class="apple-ii-forever">Apple II Forever!!</p>