<style>
    button {
        justify-content: center;
        align-items: center;
    }
</style>
<iframe class="youtube-player" type="text/html" width="640" height="385"
    src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen frameborder="0">
</iframe>

<button _="on click queue all
    transition .youtube-player's opacity to 0 then hide .youtube-player
    hide me
    show .a2_index with display
    transition .a2_index's opacity to 100
    toggle .emphasized on .apple-ii-forever">
    Click here after watching the video!
</button>
