<style>
    button {
        justify-content: center;
        align-items: center;
    }
</style>
<div class="ytplayer-container">
    <iframe class="youtube-player" type="text/html"
        src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen frameborder="0">
    </iframe>
</div>
<button _="on click queue all
    transition .ytplayer-container's opacity to 0 then hide .ytplayer-container
    hide me
    show .a2_index-story with display
    transition .a2_index-story's opacity to 100
    toggle .emphasized on .apple-ii-forever">
    Click here after watching the video!
</button>
